:root {
    /* Primary */
    --Blue: hsl(246, 80%, 60%);
    /* work */
    --LightOrange: hsl(15, 100%, 70%);
    --SoftBlue: hsl(195, 74%, 62%);
    --LightRed: hsl(348, 100%, 68%);
    --LimeGreen: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --SoftOrange: hsl(43, 84%, 65%);

    /* Neutral */
    --VeryDarkBlue: hsl(226, 43%, 10%);
    --DarkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--VeryDarkBlue);
    font-family: "Rubik", sans-serif;
    font-size: 18px;
}

.d-flex-W-JC-SB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: var(--DarkBlue);
    color: white;
    margin: 3rem 1.5rem;
    border-radius: 15px;
}
.bg{
    background-repeat: no-repeat;
    background-position: 95% 20%;
    height: 6vh;
    background-size: 12vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.Work{
    background-color: var(--LightOrange);
}
.WorkBg {
    background-image: url("images/icon-work.svg");

}

.Play{
    background-color: var(--SoftBlue);
}
.PlayBg {
    background-image: url("images/icon-play.svg");
}
.Study {
    background-color: var(--LightRed);
}
.StudyBg {
    background-image: url("images/icon-study.svg");
    background-color: var(--LightRed);
}
.Exercise {
    background-color: var(--LimeGreen);
}
.ExerciseBg {
    background-image: url("images/icon-exercise.svg");
    background-color: var(--LimeGreen);
}
.Social {
    background-color: var(--Violet);
}

.SocialBg {
    background-image: url("images/icon-social.svg");
    background-color: var(--Violet);
}
.Self {
    background-color: var(--SoftOrange);
}
.SelfBg {
    background-image: url("images/icon-self-care.svg");
    background-color: var(--SoftOrange);
}
.clicked{
    color:#ffffff;
}
.details .card:hover{
    background-color:var(--DesaturatedBlue);
}
@media screen and (min-width:786px){
    #root{
        display: grid;
        place-items: center;
        height: 100vh;
    }
    .container{
        display:flex;
        padding:3rem 12rem;
        width:100%;
    }
    .card {
        margin: 0;
    }
    .details{
         display:grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap:2rem;
         flex-basis:80%;
    }
}